@{
    ViewData["Title"] = "Auction Site";
}

<div>
    <h1>Log In</h1>
    <input type="text" name = "username" value="" autocomplete="off">
    <input type="password" name ="password" value="" autocomplete="off" required>
    <input type="submit" name ="submit" value="Login">
    <p class="center"><br />
        Don't have an account? <a href="register.cshtml">Register.</a>
    <p>
</div>
